body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}
footer { padding: 20px 0 10px; }
@include media-breakpoint-up(lg) {
  footer.container { max-width: 800px; }
}
h2, .h2 { font-size: 26px; }
a {
  color: $success;
  &:hover {
    color: $cyan;
    text-decoration: none;
  }
}
.error { color: $danger; }
/*** Backgrounds ***/
.gray-bg { background-color: #f3f3f4; }
.white-bg { background-color: $white; }
/*** END Backgrounds ***/
/*** Auth Layout ***/
.auth-layout {
  padding: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 100px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 800px;
    margin: 0 auto;
  }
}
/*** END Auth Layout ***/
.box {
  color: inherit;
  padding: 15px 10px 20px;
  overflow: auto;
  border-color: $light;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
